# Application
bedrock/web/app/plugins/*
!bedrock/web/app/plugins/.gitkeep
bedrock/web/app/mu-plugins/*/
bedrock/web/app/themes/twentytwentyfive/
bedrock/web/app/upgrade
bedrock/web/app/uploads/*
!bedrock/web/app/uploads/.gitkeep
bedrock/web/app/cache/*

# WordPress
bedrock/web/wp
bedrock/web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/bedrock/vendor
auth.json

# WP-CLI
bedrock/wp-cli.local.yml
